*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    box-sizing: border-box;
    margin: 0;

}
.switch-off{
    display: none;

}
.switch-on{
    display: none;
}

header,
footer{
    img{
        width: 80px;
        border-radius: 50%;
        border: 1px solid ;
        object-fit: cover;
        image-orientation: flip;
    }
}