*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    box-sizing: border-box;

}
/* switch background */
.switch-off-theme{
    display: none;

}
.switch-on-theme{
    /* display: none; */
}
.menu-hamburger{
    display: none;
}
header,
footer{
    img{
        width: 80px;
        border-radius: 50%;
        border: 1px solid ;
        object-fit: cover;
        image-orientation: flip;
    }
}