header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 106px;

    .item-h-img{
        /* width: 40%; */
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav{
        width: 35%;
        ul{
            display: flex;
            justify-content: space-around;

        }
    }
    .item-switch-burger{
        /* width: 10%; */
        display: flex;
        margin: 0;
        justify-content: space-around;
        align-items: center;
        /* .hamburger{
            display: none;
        } */
    }
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    height: 106px;
    hr{
        display: none;
    }
    div{
        a{
            text-decoration: none;
        }
    }

}