

/* resposive vesion desktop */
@media screen and (max-width: 1440px) {
    body{
        margin: 0;
        width: 100%;
        box-sizing: border-box;

    }
    .hero-container {
        max-width: 640px;
    }
    li a{
        font-size: 2.5em;

    }
    .item-h-img{
        width: 45%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        /* gap: 56px; */
        /* z-index: 1; */
        h1{
            font-size: 3.9em;
        }
    }
    .menu-hamburger-on{
        display: none;
    }
    nav{
        width: 40%;
        ul{
            display: flex;
            justify-content: space-around;
            li a {
                text-decoration: none;
                font-size: 1.9em;
            }
        }
    }
}



@media screen and (max-width: 1200px) {
    body{
        margin: 0;
        width: 100%;
        box-sizing: border-box;

    }
    .hero-container {
        max-width: 640px;
    }
    .item-h-img{
        width: 46%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 23px;
        h1{
            font-size: 3.6em;
        }
    }
    .menu-hamburger-on{
        display: none;
    }
    nav{
        width: 45%;
        ul{
            display: flex;
            justify-content: space-around;
            li a {
                text-decoration: none;
                font-size: 1.4em;
            }
        }
    }
}

/* resposive vesion mobile */
@media screen and (max-width: 900px){
    body{
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    header{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* gap: 10px; */
        .item-h-img{
            width: auto;
            h1{
                display: none;
            }
        }
    }
    .hero-container {
        max-width: 100%;
    }
    .menu-hamburger-on{
        display: block;
    }
    nav{
        display: none;
    }
    /* switch background */
    .switch-off-theme{
        display: none;
        background-color: transparent;

    }
    .switch-on-theme{
        /* display: none; */
        background-color: transparent;
    }
    .menu-hamburger{
        display: initial;
        text-decoration: none;
        list-style: none;
        z-index: 1;
    }
    .item-switch-burger {
        display: inline;
        margin: 0;
        padding: 0;
    }
    a{
        font-size: 25px;
    }
    footer{
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: auto;
        gap: 10px;
        hr{
            display: inline;
            width: 300Px;
        }
        div{
            a{
                text-decoration: none;
            }
        }
    .reseaux {
        a{
            font-size: 10px;
        }
    }
    }
}

/* resposive vesion tablette */
@media screen and (max-width: 768px) {
    body{
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    header{
        box-sizing: border-box;
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* gap: 10px; */
        .item-h-img{
            width: 30%;
            h1{
                display: none;
            }
        }
    }
    header {
        display: flex;
        justify-content: space-between;
    }
}