:root {
    --text-color-h1-h2: #DAA520;
    --link-color: #DAA520;
    --link-color-hover: #da2020;
    --text-color: #FFFFFF;
    --gray: #e1e1e5;
    --light: #f7f7f8;
    --dark-theme: #000000;
    --background-color:#000027;

}
