:root {
    --text-color-h1-h2: #DAA520;
    --link-color: #DAA520;
    --link-color-hover: #da2020;
    --text-color: #FFFFFF;
    --gray: #e1e1e5;
    --light: #f7f7f8;
    --dark-theme: #000000;
    --background-color:#000027;

}
h1{
    color: var(--text-color-h1-h2);
    font-family: "Alex Brush";
    font-style: normal;
    font-size: 80px;
}
h2{
    color: var(--text-color-h1-h2);
    font-size: 60px;
    font-family: "Alex Brush";
}

h3{
    color: var(--text-color-h1-h2);
    font-size: 55px;
    font-family: "julee";
}
h4{
    font-family: "Julee";
    color: var(--text-color-h1-h2);
    font-size: 55px;
}
p {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 25px;
    color: var(--text-color);
}
a {
   font-family: "Julee", cursive;
   color: #DAA520;
   font-size: 45px;
}

button{
    text-decoration: none;border: 0;
    background-color: black;

}