main{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: var(--background-color);

    .banner{
        width: 100%;
        background-image: url(/assets/images/banner.png);
        background-repeat: no-repeat;
        margin: 0;
        background-size: cover;
        background-position: center;
        padding: 120px 0 120px 320px;
    }
    p{
        width: 68%;
        font-weight: 40px;
    }
    /* section technologies & frameworks */
    .techn-framew-container{
        width: 100%;
        display: flex;
        justify-content: space-between;

        .techn-framew-content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            .techn-framew-item{
                width: 100%;
                display: flex;
                justify-content: space-between;
                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 10px;
                }
                
            }
        }

    }
    
}
.hero-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    ;
    /* section my identity */
    .myface-content{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(0, 0, 0);
        border-radius: 30px;
    .myface-item{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .myface-item-img{
        align-items: center;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        img{
            width: 100%;
            background-color: bisque;
            object-fit: cover;
            border-radius: 10px;
        }

    }

    
    }
}
