*{
    box-sizing: border-box;
}
body{
    width: 100%;
}

main{
    box-sizing: border-box;
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex: 1;
    flex-direction: row;
}
.hero-container{
    background-image: url(/assets/images/graphique.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 15%;
    border-radius: 30px;
    background-color: rgba(31, 30, 30, 0.945);
    display: flex;
    flex-direction: column;
}
fieldset{
    height: auto;
    border-radius: 30px;
    width: 100%;
    legend{
        font-size: 1.5em;
        font-family: julee;
        color: var(--link-color);
        text-decoration-style: wavy;
        padding-inline: 4px;
    }
    h4{
        font-size: 1.1em;
    }
    background-color: rgba(0, 0, 0, 0.658);
    ol{
        display: flex;flex-direction: column;
        text-align: center;
        padding-inline: 20px;
        margin: 0;
        width: 100%;
        li {
            padding: 15px 0 0 0;
            margin: 5px 0;
            transition: transform 0.2s ease;
            a{
                font-size: 1em;
                color: aliceblue;
                font-family: julee;
                &:hover {
                    color:  var(--link-color-hover);
                    font-size: 1.1em;
                    transition: 2s;
                    text-shadow:  3px 3px 7px var(--link-color);
                }
            }
        }
    }
}
.todo-container{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .todo-content{
        background-image: url(/assets/images/font-oeil.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 50px;
        height: 10%;
        width: 90%;
        display: flex;
        .todo-img{
            width: 10%;
            object-fit: cover;
            img{
                height: 100%;
            }
        }
        .todo-item{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            h2{
                background: radial-gradient(#7e7e7e80, #00000080);
                border-radius: 50px;
                padding: 10px; 
            }
            p{
                background: radial-gradient(#5a520746, #000000);
                border-radius: 50px;
                padding: 20px;
            }
        }
    }
}
@media screen and (max-width: 1440px){
    body{
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .todo-container{
        padding: 10px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .todo-content{
            background-image: url(/assets/images/font-oeil.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 50px;
            height: 10%;
            width: 90%;
            display: flex;
            .todo-img{
                width: 10%;
                object-fit: cover;
                img{
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    body{
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    main{
        flex-direction: column;
    }
    .hero-container{
        background-image: url(/assets/images/graphique.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 50%;
        border-radius: 30px;
        background-color: rgba(31, 30, 30, 0.945);
        display: flex;
        flex-direction: column;
    }
    .todo-container{
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        .todo-content{
            background-image: url(/assets/images/font-oeil.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 50px;
            height: 10%;
            width: 80%;
            display: flex;
            .todo-img{
                width: 10%;
                object-fit: cover;
                img{
                    height: 10%;
                }
            }
        }
    }
}